<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="se.model.Mapper.NotificationMapper">
    <resultMap id="Notification" type="se.model.Notification">
        <id column="notification_id" property="NotificationId"/>
        <result column="title" property="title"/>
        <result column="context" property="context"/>
        <result column="publish_time" property="time"/>
    </resultMap>

    <select id="selectAll" resultMap="Notification">
        select *
        from Notiffcations
        order by notification_id desc;
    </select>

    <select id="selectTop" parameterType="int" resultMap="Notification">
        select *
        from Notiffcations
        order by notification_id desc
        limit #{num};
    </select>

    <select id="select" parameterType="int" resultType="se.model.Notification">
        select *
        from Notiffcations
        where notification_id = #{id};
    </select>
    <insert id="newNotification" parameterType="se.model.Notification">
        INSERT INTO Notiffcations (`title`, `context`, `publish_time`)
        VALUES (#{title}, #{context}, #{time});
    </insert>
</mapper>