<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="se.Model.Mapper.SubjectMapper">
    <resultMap id="Subject" type="se.Model.Subject" >
        <id column="subject_id" property="subjectId" />
        <result column="subject_name" property="subjectKind" />
        <result column="subject_kind" property="subjectName" />
    </resultMap>
    <select id="SelectByTeacher" resultMap="Subject" >
        select subject_id, subject_name, subject_kind from Users,Teachers, Teacher_Pub_Subject, Subjects
        where Users.user_id = Teacher_Pub_Subject.user_id
        and Teacher_Pub_Subject.subject_id = Teacher_Pub_Subject.subject_id
        and Users.user_name = #{teacherName}
    </select>
</mapper>