<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="se.model.Mapper.UserMapper">
    <resultMap id="User" type="se.model.User">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="userPassword"/>
        <result column="role" property="role"/>
    </resultMap>
    <select id="Login" parameterType="string" resultMap="User">
        select *
        from Users
        where user_id = #{userID}
    </select>

    <select id="QueryAllTeacher" resultMap="User">
        select *
        from Users
        where role = 1;
    </select>
</mapper>